.main {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  height: 100%;
}

.top_container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 15px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.link_button {
  position: absolute;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #e74c3c;
  font-size: 20px;
  text-decoration: none;
}

.link_button:hover {
  color: #fff;
  background-color: #c0392b;
}

.time_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 250px;
  padding: 20px 10px;
  border-radius: 10px;
  margin: 15px;
  background: #f5f5f5;
}

.amount_time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.amount_time_text {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 32px;
}

.amount_time_text_time {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 64px;
}

.amount_speed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.amount_speed_text {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 32px;
}

.amount_speed_text_time {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 32px;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: lightseagreen;
}

.lap_time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 50%;
  height: 100%;
  overflow-y: auto;
}

.lap_time::-webkit-scrollbar {
  display: none;
}

.lap_time_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  margin: 5px 0;
}

.lap_time_divide_border {
  margin: 0 10px;
}

.feedback_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
