.main {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  height: 100%;
}

.top_container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 15px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.link_button {
  position: absolute;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #e74c3c;
  font-size: 20px;
  text-decoration: none;
}

.link_button:hover {
  color: #fff;
  background-color: #c0392b;
}

.time_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 250px;
  padding: 20px 10px;
  border-radius: 10px;
  margin: 15px;
  background: #f5f5f5;
}

.amount_time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.amount_time_text {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
}

.amount_time_text_time {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 48px;
  height: 60px;
}

.amount_speed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.amount_speed_text {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
}

.amount_speed_text_time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 32px;
  height: 60px;
}

.amount_speed_text_description {
  display: flex;
  justify-content: center;
  padding: 2px 15px;
  margin: auto;
  font-size: 16px;
  color: white;
  border-radius: 5px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: lightseagreen;
}

.lap_time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 50%;
  height: 100%;
  overflow-y: auto;
}

.lap_time::-webkit-scrollbar {
  display: none;
}

.lap_time_text {
  display: grid;
  grid-template-columns: 120px 100px 150px;
  align-items: center;
  width: 350px;
  font-size: 20px;
  margin: 5px 0;
}

.lap_time_divide_border {
  margin: 0 10px;
}

.lap_speed_text_description {
  display: flex;
  justify-content: center;
  padding: 2px 15px;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
}

.feedback_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.questions_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0;
}

.questions_title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 15px;
}

.question_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin: 0 10px;
  padding: 20px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #f5f5f5;
}

.question_card_icon {
  font-size: 48px;
  padding: 0 10px;
  width: 100px;
}

.question_card_text {
  width: calc(100% - 100px);
  font-size: 16px;
}
