.card {
  width: calc(50% - 20px);
  height: 200px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 0 8px #ddd;
  .card_title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .card_content {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
  }
}
